.project-card {
    position: relative;
    overflow: hidden;

    &:hover{
        .project-card__info{
            transform: translateY(0);
            transition: transform 300ms;
        }
        
    }
}
.project-card__img {
    width: 320px;
    height: 320px;
}
.project-card__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 320px;
    background-color: rgba(33, 32, 29, 0.98);
    transform: translateY(-100%);
    transition: transform 300ms;
    z-index: 2;
    padding-bottom: 40.5px;
    padding-top: 40.5px;
}
.project-card__top {
    border-bottom: 1px solid #216850;
    padding-bottom: 16px;
    width: 200px;
    margin: 0 auto;
}
.project-card__stack {
    text-align: center;
    font-family: 'Inconsolata';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.06;
    color: $textColor;
}
.project-card__bottom {
    width: 219px;
    margin: 0 auto;
    padding-top: 16px;
}
.project-card__description {
    font-family: 'Inconsolata';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.06;
    color: $textColor;
    margin-bottom: 16px;
}
.project-card__action {
    text-align: center;
}
