.my-works{
    padding-top: 64px;
    padding-bottom: 64px;

    // по макету должен быть 64
    @media (max-width:661px) {
        padding-top: 76px;
    }
}
.my-works__center {
}
.my-works__card-row {
    display: flex;
    column-gap: 16px;
    justify-content: center;

    @media (max-width: 1245px) {
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
    }
}